

body {
  /* font-family: Raleway, Arial, Verdana, sans-serif; */
  font-family: "Lucida Console", "Courier New", monospace;
  color: #333;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url("../src/images/headerbg3.jpg");
  background-color: rgba(76, 175, 80, 0.3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;;
  min-height: 100vh;
}

.navbar{
   margin: 0px;
} 

.profile{
  margin-top: 80px;
  align-items: center;
  text-align: center;
}

hr{
  margin-top: 20px;
  margin-bottom: 0px;;
  width: 50%;
}

.sociallinks{
  margin-top: 100px;
}


li{
  list-style-type:none;
  display: inline;
}

#headerlink {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #fff;
  padding: 10px;
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  /* border: 1px solid #034f84;
  background: #034f84; */
}

#headerlink:hover {
  color: #fff;
  border-radius: 5px;
  text-decoration: #fff;
}

#headerlink:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 4px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}
#headerlink:hover:after {
  width: 100%;
}

#headerlink2,#headerlink3{
  font-size: 50px;
  color: #fff;
  margin-right: 30px;
  padding: 3px;
  background-color: grey;
}

#headerlink2:hover,#headerlink3:hover{
  color: black;
}
.project-div-wrap{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.project{
  padding: 3px;
  margin: 50px;
  box-shadow:8px 8px 8px 8px gray;
  border-radius: 10px;
}
.project img{
  border-radius: 10px;
}

.project:hover{
  box-shadow:12px 12px 12px 12px gray;
  border-radius: 10px;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 350px;
  width: 500px;
  opacity: 0;
  transition: .5s ease;
  background-color: #3F51B5;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


#projectlinks {
  text-decoration: none;
  color:#fff;
  padding: 6px 15px;
  text-align: center;
  font-size: 19px;
  background-color:#b2b2b2 ;
}
#projectlinks:hover{
  background-color:  #82b74b ;
  color: black;
  font-weight: 600;
}
#githublinks:hover {
  color: #fff;
}

/* #githublinks:after {
  background-color: #fff;
}
#githublinks:hover:after {
  width: 100%;
} */

button {
  background-color: #ddd;
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

button:hover {
  background-color: #3e8e41;
  color: white;
}

.education-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:#3F51B5;
}
.education{
  margin:120px;
  padding:30px;
  position: relative;
  box-shadow:1px 1px 2px 2px rgb(248, 246, 246);
}

.education:hover{
  box-shadow:3px 3px 4px 4px rgb(248, 246, 246);
}
.education img{
  border-radius: 10px;
}

.education .education-text{
  color: rgb(250, 249, 249);
  position: absolute;
  top: 10%;
  left: 35%; 
  font-size: 30px; 
  font-weight: 650;
  text-transform: uppercase;
  /* transform: translate(-50%, -50%); */
}

.course{ 
  text-align: center;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: rgb(255, 254, 254);
}

.skill-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: rgb(179, 169, 169); 
}

.skill-text{
  color: black;
  margin-top: 90px;
  font-size: 30px;
  font-weight: 650;
  text-transform: uppercase;
}
.skills{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;  
  flex-wrap: wrap;
}

span{
  color: #fff;
  padding: 15px;
  margin: 2px;
  margin-left: 20px;
  font-size: 25px;
  background-color:#3F51B5;
  box-shadow:1px 1px 2px 2px grey;
  text-transform: uppercase;
  border: 1px solid #fff;
}

span:hover{
  box-shadow:2px 2px 3px 3px grey;
}

/* .contact-wrap{
  border: 1px solid;
  margin: 0px;
  margin-top: 0px;
  height: 100vh;
  background-color:  #7C4DFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
} */

.contact-wrap{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color:  #7C4DFF;
}


.contact-text{
  margin-top: 20px;
  font-size: 30px;
  font-weight: 650;
  color: white;
  text-transform: uppercase;
}


.contact-links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px;
  padding: 30px;
  position: relative;
}

.contact-links a{
  margin: 160px;
  color: white;

}

.contact-options{
  /* display: flex;
  flex-direction: column;
  margin: 0px;;
  justify-content: center;
  align-items: center;
  height: 100px; */
  padding: 30px;
  font-size: 50px;
}



/* .footer-text{
  top:100%;
  font-size: 20px;
  font-weight: 550;
  color: white;
} */








